body {
  background-color: #121212;
  color: #e1e1e1;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;
  scrollbar-width: none;
}

h1.my-4 {
  color: #1db954;
  font-size: 2.5rem;
}

h5.mb-1 {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.btn-success {
  background-color: #1db954;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

.btn-success:hover {
  background-color: #1ed760;
}

ul.list-group {
  list-style: none;
  padding-left: 0;
}

li.list-group-item {
  background-color: #282828;
  border: none;
  border-radius: 5px;
  color: #e1e1e1;
  margin-bottom: 10px;
  padding: 15px;
}

li.list-group-item:hover {
  background-color: #121212;
  color: #fff;
}

a.text-decoration-none {
  color: #f8f8f8;
  text-decoration: none;
}

small {
  color: #b3b3b3;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  h1.my-4 {
    font-size: 2rem;
  }
}

.back {
  margin-bottom: 20px;
  background-color: #282828;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
}

.back:hover {
  text-decoration: none;
  color: #1db954;
}

label.form-label {
  color: #fff;
  font-weight: 600;
}
