body {
  background-color: #000;
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  margin: 0;
}

.btn-login {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-right: 15px;
  transition: color 0.3s;
}

.btn-login:hover {
  color: #1ed760;
}

.btn-primary {
  background-color: #000;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
  background-color: #1ed760;
  transform: scale(1.05);
}

.card {
  background-color: #333;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: auto;
  max-width: 300px;
  overflow: hidden;
  width: 100%;
}

.card img {
  border-bottom: 1px solid #444;
}

.card-body {
  color: #e5e5e5;
  padding: 15px;
}

.card-title {
  color: #fff;
  margin-bottom: 10px;
}

.content {
  background-color: #222;
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.language-selector {
  color: #fff;
  font-size: 16px;
}

.language-selector a {
  color: #fff;
  margin: 0 5px;
  text-decoration: none;
  transition: color 0.3s;
}

.language-selector a:hover {
  color: #1ed760;
}

.main-content {
  background-color: #111;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.navbar {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
}

.navbar-brand {
  color: #fff;
}

.navbar-right {
  align-items: center;
  display: flex;
}

.sidebar {
  background-color: #000;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 250px;
}

.sidebar a {
  align-items: center;
  border-radius: 4px;
  color: #fff;
  display: flex;
  padding: 12px 20px;
  text-align: left;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #333;
}

.sidebar a i {
  color: #fff;
  font-size: 18px;
  height: 18px;
  margin-right: 12px;
  width: 18px;
}

.sidebar hr {
  border: 0;
  border-top: 1px solid #444;
  margin: 10px 0;
}
