button.btn-secondary {
  background-color: #6C757D;
}

.otp-input {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: auto;
}

.otp-digit {
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 5px;
}

.otp-digit:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
