footer.audio-player {
  background-color: #000000;
  color: #1db954;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-container {
  padding-left: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.song-info {
  display: flex;
  align-items: center;
}

.song-info img#song-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.song-details {
  display: flex;
  flex-direction: column;
}

.song-details h5#song-title {
  font-size: 16px;
  margin: 0;
  color: #1db954;
}

.song-details small#song-artist {
  font-size: 14px;
  color: #cccccc;
}

.controls {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 100px;
}

.controls button {
  background-color: #1db954;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
}

.controls button:hover {
  background-color: #17a15e;
}

.time span {
  margin: 0 5px;
}

#progress, #volume {
  margin: 0 5px;
}

.audio-player .controls button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.audio-player .controls button:focus {
  outline: none;
}

.audio-player .controls i {
  color: #17a15e;
}
