body {
  background-color: #000;
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  margin: 0;
}


.btn-login,
.navbar-right .btn-login {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-right: 15px;
  transition: color 0.3s;
}

.btn-login:hover,
.navbar-right .btn-login:hover {
  color: #1ed760;
}

.btn-primary {
  background-color: #000;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
  background-color: #1ed760;
  transform: scale(1.05);
}

.card {
  background-color: #333;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: auto;
  max-width: 300px;
  overflow: hidden;
  width: 100%;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-bottom: 1px solid #444;
  background-color: #f0f0f0;
}

.card-body {
  color: #e5e5e5;
  padding: 15px;
}

.card-title {
  color: #fff;
  margin-bottom: 10px;
}

.content {
  background-color: #222;
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.language-selector {
  color: #fff;
  font-size: 16px;
}

.language-selector a {
  color: #fff;
  margin: 0 5px;
  text-decoration: none;
  transition: color 0.3s;
}

.language-selector a:hover {
  color: #1ed760;
}

.main-content {
  background-color: #222;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.navbar {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
}

.navbar-brand {
  color: #fff;
}

.navbar-right {
  align-items: center;
  display: flex;
}

.sidebar {
  background-color: #000;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 250px;
}

.sidebar a {
  align-items: center;
  border-radius: 4px;
  color: #fff;
  display: flex;
  padding: 12px 20px;
  text-align: left;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #333;
}

.sidebar a i {
  color: #fff;
  font-size: 18px;
  height: 18px;
  margin-right: 12px;
  width: 18px;
}

.sidebar hr {
  border: 0;
  border-top: 1px solid #444;
  margin: 10px 0;
}

.table_account {
  background-color: #000;
  color: #fff;
}

.modal-dialog {
  position: fixed;
  top: 9%;
  right: 9%;
  margin: 0;
  width: auto;
  max-width: 100%;
}

.modal-backdrop {
  display: none !important;
}

.modal-body li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body li:hover,
.modal-body li a:hover {
  color: #1ed760;
}

.modal-body li a {
  color: #fff;
  text-decoration: none;
}

a.title {
  color: #fff;
  font-size: 25px;
}

.title {
  font-weight: 600;
}

img.avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

img.avatar.circle {
  border-radius: 50%;
}

img.avatar.square {
  border-radius: 10px;
}

li.item {
  padding: 10px;
  border-radius: 5px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 170px;
  margin-right: 10px;
  margin-top: 10px;
}

li.item:hover {
  background-color: #000;
  cursor: pointer;
}

a.full_name {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

p.artist {
  margin-bottom: 0;
  font-size: 15px;
  color: #b3b3b3;
}

.d-none {
  display: none
}

.songs ul,
.artists ul,
.genres ul,
.playlists ul,
.albums ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

a.btn_back {
  color: #a7a5a5;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #2f2f2f;
  font-size: 20px;
}

.d-cursor-not-allowed:hover {
  cursor: not-allowed;
  color: #a7a5a5;
}

.d-cursor-pointer {
  color: #fff;
}

.d-cursor-pointer:hover {
  cursor: pointer;
  color: #ffffff;
}

.btn.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
