body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #121212;
  color: #e1e1e1;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #1e1e1e;
  border-radius: 8px;
}

h1 {
  font-size: 2.5rem;
  color: #1db954;
}

a {
  color: #1db954;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s;
}

a.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff;
  padding: 5px 10px;
}

a.btn-primary:hover {
  background-color: #1ed760;
}

a.btn-danger {
  background-color: #e60023;
  color: #ffffff;
}

a.btn-danger:hover,
button.btn.btn-outline-danger:hover {
  background-color: #ff2b49;
}

a.btn-success {
  background-color: #191414;
  color: #1db954;
}

a.btn-success:hover {
  background-color: #121212;
}

form#formDelete button.btn {
  background-color: transparent;
  border: 1px solid #ff2b49;
  color: #ff2b49;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

form#formDelete button.btn:hover {
  background-color: #ff2b49;
  color: white;
}

#confirmation-message {
  display: none;
}

.lyrics-text-color {
  color: #e5e5e5;
}

.card-songs-detail {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  border: none;
  background-color: #1e1e1e;
  color: #e1e1e1;
}

.card-img-top {
  height: 250px;
  object-fit: contain;
  width: 100%;
}

.card-body {
  background-color: #121212;
  color: #e5e5e5;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
}

button.btn {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
}

button.btn-primary {
  background-color: #0D6EFD;
  border: none;
}

button.btn-success {
  background-color: #1db954;
  border: none;
}

pre.card-text {
  white-space: pre-wrap;
  font-family: 'Roboto', sans-serif;
  color: #e5e5e5;
}

.row {
  margin-bottom: 1.5rem;
}

.col-md-6 {
  margin-bottom: 1.5rem;
}

h2.card-title {
  font-size: 22px;
  margin-bottom: 1rem;
}

p.card-text {
  margin-bottom: 1rem;
}

button.btn-primary:hover {
  background-color: #1ed760;
}

button.btn-success:hover {
  background-color: #121212;
}

.col-3 .album-avatar {
  border-radius: 10px;
  width: 150px;
  height: 150px
}

.d-flex {
  display: flex;
  align-items: center;
}

.song-avatar {
  border-radius: 5px;
  height: 100px;
  margin-left: 10px;
  width: 100px;
  object-fit: cover;
}

button.btn.btn-outline-danger {
  border-color: #dc3545;
  background-color: #282828;
}

.bio-content {
  max-height: 100px;
  overflow: hidden;
}

.modal-title {
  color: #000000;
}

.list-group-750 {
  width: 750px;
}

.dis {
  pointer-events: none;
  cursor: default;
  color: #6C757D;
}

.scrollable-list {
  max-height: 400px;
  overflow-y: auto;
}

.lyrics {
  font-size: 14px;
  white-space: pre-wrap;
}

.suggested-songs {
  margin-top: 20px;
}

.suggested-song {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #6C757D;
  border-radius: 8px;
}

.suggested-song-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.suggested-song-details {
  flex-grow: 1;
}

.suggested-song-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.suggested-song-author {
  font-size: 14px;
  color: #1ed760;
  margin: 0;
}
