body {
    background-color: #000000;
    color: #e1e1e1;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 20px;
    width: 800px;
}

.card {
    background-color: #000000;
    width: 800px;
}

h1.my-4 {
    color: #1db954;
    font-size: 2.5rem;
}

ul.list-group {
    list-style: none;
    padding-left: 0;
}

li.list-group-item {
    background-color: #282828;
    border: none;
    border-radius: 5px;
    color: #e1e1e1;
    margin-bottom: 10px;
    padding: 15px;
}

a.text-decoration-none {
    color: #1db954;
    text-decoration: none;
}

h5.mb-1 {
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.btn-success {
    background-color: #1db954;
    border: none;
    border-radius: 20px;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
}

.btn-success:hover {
    background-color: #1ed760;
}

small {
    color: #b3b3b3;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h1.my-4 {
        font-size: 2rem;
    }
}

#errorAlert {
    display: block;
}

#emailHelp,
#passwordError {
    display: none;
    color: red;
}
